@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&family=Rethink+Sans:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
}

body {
    background-color: #fdebeb;
}

div.tableContainer {
    width: 100%;
    overflow-x: auto;
}

div.tableContainer table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}

thead tr {
    background-color: rgb(75, 75, 75);
    color: #eee;
}

th {
    border: 1px solid #eee;
}

th,
td {
    vertical-align: top;
    text-align: left;
    padding: 8px;
    border-right: 1px solid #eee;
}

tr {
    border: 1px solid #ccc;
}

tbody tr {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #eee;
}

tbody tr:hover {
    cursor: pointer;
    background-color: rgba(121, 136, 149, 0.3);
}

@media screen and (max-width: 600px) {

    .m-modal {
        background-color: transparent;
    }

    .m-modal * {
        width: 100%;
        /* background-color: #fff; */
    }
}